<%- include("header") -%>
<div class="content">
  <h1><%=title%></h1>
  <%if (locals.errors){%>
    <div class="errors">
      <h2>Please fix the following errors:</h2>
      <%for (const err of errors){%>
        <p><%=err.msg%></p>
      <%}%>
    </div>
  <%}%>
  <form action="" method="POST" enctype="multipart/form-data">
    <div class="form-item">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required minlength="3" value="<%= locals.console===undefined ? '' : console.name%>">
    </div>
    <div class="form-item">
      <label for="release_year">Year released:
        <select name="release_year" id="release_year">
          <%for (let i=2023; i > 1950; i--){ %>
            <option <%=locals.console!==undefined && i===console.release_year ? 'selected' : ''%> value="<%=i%>"><%=i%></option>
          <%}%>
        </select></label>
    </div>
    <div class="form-item">
      <label for="image">Upload Image:
        <input type="file" id="image" name="image">
        <%if (locals.console && JSON.stringify(locals.console.image) !== JSON.stringify({})){%>
          <p class="current-file">Current Image: <%=console.image.name%></p>
          <%}%>
      </label>
    </div>
    <div class="<%=title==="Update Console" ? "password" : "hide password"%>">
      <p>Please enter admin password to confirm:</p>
      <input type="password" id="password">
      <button type="button" class="confirm-password">Confirm</button>
      <p class="error hide">Incorrect Password</p>
    </div>
    <button type="submit" class="<%=title==="Update Console" ? "hide add-new add-new-game" : "add-new"%>"><%=title%></button>
  </form>
</div>
<%- include("footer") -%>
<script>
  const passwordDiv = document.querySelector(".password")
  const submitBtn = document.querySelector(".add-new")
  const confirmPassword = document.querySelector(".confirm-password")
  const input = document.getElementById("password")
  const error = document.querySelector(".error")
  confirmPassword.addEventListener("click", () => {
    if (input.value === '<%=process.env.ADMIN_PASSWORD%>'){
      submitBtn.classList.remove("hide")
      passwordDiv.classList.add("hide")
    }
    else{
      error.classList.remove("hide")
    }
  })
</script>