<%- include("header") -%>
<div class="content">
  <h1>Consoles</h1>
    <div class="consoles">
        <% for (const console of all_consoles){ %>
                <div class="console">
                    <h2><a href=<%=console.url%>><%=console.name%></a></h2>
                    <p>Released: <%=console.release_year%></p>
                    <% if (!(JSON.stringify(console.image) === JSON.stringify({}))){ %>
                        <img src="data:<%=console.image.fileType%>;base64, <%= console.base64 %>" />
                      <%}%>
                </div>
        <% } %>
    </div>
    <button class="add-new" onclick="location.href='/inventory/consoles/create'">+ Add New</button>
</div>
<%- include("footer") -%>