<%- include("header") -%>
<div class="content">
    <% if (all_games.length === 0){ %>
        <h1 class="confirm-delete">Are you sure you want to delete <%=console.name%>?</h1>
        <form action="" method="POST" class="delete-form">
            <div class="password">
                <p>Please enter admin password to confirm:</p>
                <input type="password" id="password">
                <button type="button" class="confirm-password">Confirm</button>
                <p class="error hide">Incorrect Password</p>
              </div>
            <button class="delete hide">Delete Console</button>
        </form>
    <% } else {%>
        <div class="delete-games">
            <h1>In order to delete <%=console.name%> you must delete the following games:</h1>
            <%for (game of all_games){%>
                <h2><a href="<%=game.url%>"><%=game.name%></a></h2>
            <% } %>
        <% } %>
        </div>
</div>

<%- include("footer") -%>
<script>
    const passwordDiv = document.querySelector(".password")
    const submitBtn = document.querySelector(".delete")
    const confirmPassword = document.querySelector(".confirm-password")
    const input = document.getElementById("password")
    const error = document.querySelector(".error")
    confirmPassword.addEventListener("click", () => {
      if (input.value === '<%=process.env.ADMIN_PASSWORD%>'){
        submitBtn.classList.remove("hide")
        passwordDiv.classList.add("hide")
      }
      else{
        error.classList.remove("hide")
      }
    })
  </script>