<%- include("header") -%>
<div class="content">
  <h1><%=console.name%></h1>
  <p>Released: <%=console.release_year%></p>
  <% if (!(JSON.stringify(console.image) === JSON.stringify({}))){ %>
    <img src="data:<%=console.image.fileType%>;base64, <%= console.base64 %>" />
  <%}%>
  <h2><%=console.name%> Games:</h2>
  <div class="console-games">
    <% for (const game of all_games){%>
        <div class="game">
            <h2><a href=<%=game.url%>><%=game.name%></a></h2>
            <p>Released: <%=game.release_year%></p>
        </div>
    <%}%>
  </div>
  <div class="buttons">
    <button class="delete" onclick="location.href='<%=console.url%>/delete'">Delete Console</button>
    <button class="update" onclick="location.href='<%=console.url%>/update'">Update Console</button>
    <button class="add-new" onclick="location.href='/inventory/games/create'">+ Add Game</button>
  </div>
  
</div>

<%- include("footer") -%>